# Подключение библиотек

In [98]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import unicodedata
import sys

# Откроем и прочитаем файл

In [99]:
data = pd.read_csv('salary-train.csv')

In [100]:
data

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355
...,...,...,...,...
59995,"As a result of continued growth, First Class S...",Whitley Bay,contract,26400
59996,PHP / MVC Web Developer MacclesfieldCirca ***...,Macclesfield,permanent,26000
59997,"Staff Nurse, Nursing Home, Baldock White Recru...",Baldock,NaN,24500
59998,This is one of the best agency side opportunit...,The City,permanent,65000
59999,Must have CSCS card must have asbestos awarene...,London,NaN,23040

# Предобработка данных

## предобработка FullDescription

In [104]:
# Удаление знаков препинания
punctuation = dict.fromkeys(i for i in range(sys.maxunicode) if unicodedata.category(chr(i)).startswith('P'))
FullDescription_data = [string.translate(punctuation) for string in data['FullDescription']]

In [105]:
# ф-я приведения к нижнему регистру
def capitalizer(string: str) -> str:
    return string.lower()

In [106]:
FullDescription_data = [capitalizer(string) for string in FullDescription_data]

### Вычисляем TF-IDF признаки для всех текстов/преобразовываем тексты в векторы

In [66]:
vectorizer = TfidfVectorizer(min_df = 5)

In [114]:
X = vectorizer.fit_transform(FullDescription_data)

## Замена пропущенных значений в LocationNormalized и ContractTime

In [115]:
data['LocationNormalized'].fillna('nan', inplace=True)
data['ContractTime'].fillna('nan', inplace=True)